<form action="findBiathletSubmit" method="POST">
    <div><h4>Name</h4><input type="text" name="name"></div>
    <div><h4>Surname</h4><input type="text" name="surname"></div>
    <div><button type="submit"> Find </button></div>
</form>
{{# if notEnoughData}}
 <h2 class="error"> Please, fill all fields!</h2>
{{/ if}}
{{# if biathletDoesNotExist}}
 <h2 class="error"> Biathlet with such name and surname doesn't exist!</h2>
{{/ if}}

{{# if biathletIsFound}}
    <div class="biathlet">
				<div class="pic1">
					<img src="images/{{biathlet.name}}{{biathlet.surname}}.jpg">
				</div>
				<div class="info">
					<p>Name: {{biathlet.name}} </p>
                    <p>Surname: {{biathlet.surname}} </p>
					<p>Country: {{biathlet.country}}</p>
					<p>Date of birth: {{biathlet.date_of_birth}}</p>
					<p>Height: {{biathlet.height}}</p>
					<p>Weight: {{biathlet.weight}}</p>
					<p>Place of birth: {{biathlet.place_of_birth}}</p>
					<p>Hobbies: {{biathlet.hobbies}}</p>
				</div>
				<div class="info">
				    <p>Career beginning: {{biathlet.career_begining}}</p>
					<p>First year in team: {{biathlet.first_year_in_team}}</p>
					<p>Rifle: {{biathlet.rifle}}</p>
					<p>Skis: {{biathlet.skis}}</p>
					<p>Gloves: {{biathlet.glooves}}</p>
					<p>Glasses:  {{biathlet.glasses}}</p>
					<p>Poles: {{biathlet.poles}}</p>
					<p>Coaches: {{biathlet.coaches}}</p>
				</div>
	</div>
{{/ if}}