<form action="findProfileSubmit" method="POST">
    <div><h4>Name</h4><input type="text" name="name"></div>
    <div><h4>Surname</h4><input type="text" name="surname"></div>
    <div><button type="submit"> Find </button></div>
</form>
{{# if notEnoughData}}
 <h2 class="error"> Please, fill all fields!</h2>
{{/ if}}
{{# if biathletDoesNotExist}}
 <h2 class="error"> Biathlet with such name and surname doesn't exist!</h2>
{{/ if}}

{{# if biathletIsFound}}
<form action="updateProfileSubmit" method="POST">
    <input type="hidden" name="name" value={{biathlet.name}}>
    <input type="hidden" name="surname" value={{biathlet.surname}}>
    <div><h4>Date of birth</h4><input type="text" name="date_of_birth" value={{biathlet.date_of_birth}}></div>
    <div><h4>Height</h4><input type="text" name="height" value={{biathlet.height}}></div>
    <div><h4>Weight</h4><input type="text" name="weight" value={{biathlet.weight}}></div>
    <div><h4>Career beginning</h4><input type="text" name="career_begining" value={{biathlet.career_begining}}></div>
    <div><h4>Rifle</h4><input type="text" name="rifle" value={{biathlet.rifle}}></div>
    <div><h4>Skis</h4><input type="text" name="skis" value={{biathlet.skis}}></div>
    <div><h4>Poles</h4><input type="text" name="poles" value={{biathlet.poles}}></div>
    <div><h4>Glooves</h4><input type="text" name="glooves" value={{biathlet.glooves}}></div>
    <div><h4>Glasses</h4><input type="text" name="glasses" value={{biathlet.glasses}}></div>
    <div><h4>Coaches</h4><input type="text" name="coaches" value={{biathlet.coaches}}></div>
    <div><h4>First years in team</h4><input type="text" name="first_year_in_team" value={{biathlet.first_year_in_team}}></div>
    <div><h4>Hobbies</h4><input type="text" name="hobbies" value={{biathlet.hobbies}}></div>
    <div><h4>Place of birth</h4><input type="text" name="place_of_birth" value={{biathlet.place_of_birth}}></div>
    <div><button type="submit"> Update </button></div>
   </form>
{{/ if}}